#jumbotronAbout_lg{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5rem;
    color: white;
}

@media screen and (min-width: 1000px) {
    #jumbotronAbout_lg {
        font-size: 6rem;
    }
}

@media screen and (min-width: 1200px) {
    #jumbotronAbout_lg {
        font-size: 7rem;
    }
}

#jumbotronAbout_sm{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 5rem;
    color: white;
}

#jumbotronAbout_bg{
    background: url(../../../media/backgrounds/bg_photo2.webp);
    background-size: cover;
    background-position: center;
}