.shop_card{
    position: relative;
    margin-bottom: 20px;
    overflow: hidden;
}

.img_shopSection{
    height: 80vh;
    width: 100%;
    object-fit: cover;
}

.img_shopSection:hover{
    cursor: pointer;
    opacity: 0.4 !important;
}

#txt_clothes_shopSection{
    position: absolute;
    bottom: 0;
    left: 20px;
    font-size: 4rem;
    color: white;
    font-weight: bold;
}

#txt_accessories_shopSection{
    position: absolute;
    bottom: 0;
    right: 20px;
    font-size: 4rem;
    color: white;
    font-weight: bold;
}